body {
  background: #F6F6F6 url('../images/bg.png');
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #424755;
  font-size:0.8em;
  margin: 1.5em 0 4em 0;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.red { background-color: #CD5654; }
.blue { background-color: #367DBE; }
.orange { background-color: #E49548; }
.green { background-color: #6CBB73; }
.gray { background-color: #777; }

.win { color: #6CBB73; }
.lose { color: #CD5654; }

.hr {
  margin: 15px 0;
  width: 100%;
  height: 1px;
  background: #DEDEDE;
}

/* HEADER */

header h1 {
  margin:0; 
  color:#CD5654;
}

header h3 {
  text-align: right;
  margin: 5px 20px 0 0;
  line-height: 25px;
}

/* NAVIGATION */
#navi {
  margin: 0;
}

#navi li, #games li {
  position:relative;
  cursor:pointer;
}

#games {
  margin: 10px 80px;
}

#games li {
  width: 130px;
  float: left;
  margin: 10px;
}

#navi li .title, #games li .title {
  width:122px;
  position:absolute;
  bottom:4px;
  padding:4px;
  color:#FFF;
  background: rgba(68, 73, 80, 0.8);
  font-weight: bold;
}

/* COLUMNS */
#colLeft {
  width: 666px;
  width: 680px;
}

#colRight {
  width: 254px;
  width: 240px;
}

/* OVERLAYS */

#player .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 640px;
  height: 390px;
  background-color: white;
}

#player .overlay h3 {
  width: 640px;
  text-align: center;
  margin: 50px 0 20px;
  font-size: 2.4em;
}

/* PLAYLIST */
.played {
  padding: 20px;
}

.played .score {
  text-align: center;
  font-size: 48px;
  line-height: 35px;
  padding: 6px 0 10px;
}

ul.playlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.playlist li {  
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 20px;
  background: #EEE;
  border: 1px solid #CCC;
}

ul.playlist li .title {
  font-size: 16px;
}

ul.playlist li .time {
  float: right;
  color: #424755;
}

ul.playlist li.template {
  display: none;
}

/* BOXES */
.box {
  padding: 10px;
  color: #F6F6F6;
  border-radius: 5px;
  box-shadow: 0 1px 1px #999;
}

.box .image {
  text-align: center;
}

.box a, .box a:visited {
  text-decoration: underline;
  color: #F6F6F6;
}

#infoboxes {
  margin-top: 3em;
}

#infoboxes .span3 {
  width: 203px;
}

#facebook_sidebutton {
  height:41px;
  width:40px;
  background:url('../images/facebook_playtin.png');
  position:absolute;
  left:0px;
  top:180px;
  cursor:pointer;
}

#twitter_sidebutton {
  height:39px;
  width:40px;
  background:url('../images/twitter_playtin.png');
  position:absolute;
  left:0px;
  top:215px;
  cursor:pointer;
}